{% extends 'Employees/base_layout.html' %}
{% load staticfiles %}
{% load cloudinary %}

{% block content %}

    <!-- banner -->
	<div class="banner1">
		<div class="container">
            {% include 'Employees/navbar.html' %}
		</div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Staff</li>
          </ol>
        </nav>
	</div>
    <div class="container row">
        <div id="profiles">
            {% for detail in details %}
            <div class="card col-md-4">
                <div class="text-center">
                    <p>{% cloudinary detail.emp_image.name  width=50 height=50 %}</p>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">
                        {{ detail.emp_name }} <br/>
                        {{ detail.emp_title }}
                    </h5>
                    <p class="card-text">{{ detail.emp_bio }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<!-- //banner -->



{% endblock %}
